span
{
    position:absolute;
    color: white;
}

button
{
    position:absolute;
    background-color: #000000;
    border: 2px solid white;
    width: 200px;
    padding: 8px;
    color: white;
}

#camera
{
    top:20px;
    left:20px;
}

#cameraInfo
{
    top:40px;
    left:20px;
}

#resetCamera
{
    top:60px;
    left:20px;
}

#topCamera
{
    top:100px;
    left:20px;
}

#wall
{
    top:150px;
    left:20px;
}

#addWall
{
    top: 170px;
    left: 20px;
}

#removeWall
{
    top: 210px;
    left: 20px;
}

#others
{
    top:260px;
    left:20px;
}

#spawnBox
{
    top:280px;
    left:20px;
}

#revolveAxis
{
    top:320px;
    left:20px;
}

#spawnMeteor
{
    top:320px;
    left:20px;
}